.cmake/*
.idea/*
.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/*
Testing/*
bin/motivating_example
bin/complete_example
bin/constraining_member_function
bin/disable_generic_code
bin/call_different_functions
bin/whole_example
build.ninja
cmake_install.cmake
